**Integrantes**:


*   **Tatiana** **Chavez** **Perez**
*   **Carlos** **Fernando** **Gonzalez** **Sarmiento**
*   **Harold** **Arturo** **Rojas** **Camacho**
*   **Harrison** **Smith** **Suarez** **Neuta**

**PROYECTO 3**

1. Cree una lista vacía. Agregue los siguientes números con una línea de código: 1,56,43,4,56,7,8. Organice la lista de menor a mayor. Eliminar el último elemento. Elimina el primer elemento. Utilizar una función predeterminada para encontrar el valor máximo. Agregue el número 4. Organice la lista de mayor a menor. Acceda al elemento de la lista en la última posición. Imprima "trabajo terminado".

In [ ]:
lista = []
lista.extend([1,56,43,4,56,7,8]) # INGRESAR ELEMENTOS
lista.sort() # ORGANIZAR ELEMENTOS DE MENOR A MAYOR
lista.sort(reverse= True) # ORGANIZAR ELEMENTOS DE MAYOR A MENOR
lista.pop(0) # ELIMINAR ULTIMO ELEMENTO
lista.pop(5) # ELIMINAR EL PRIMER ELEMENTO
max(lista) # VALOR MAXIMO DE LA LISTA
lista.append(4) # AGREGAR EL NUMERO 4
print('El trabajo terminado')

trabajo terminado

In [ ]:
lista

[56, 43, 8, 7, 4, 4]

2. Cree una función que calcule la raíz cuadrada de un número.

In [ ]:
def raiz(x):
  x=int(input('escriba el numero: ' ))
  resp=x**(1/2)
  print(f'La raiz del número {x} es {resp}')

In [ ]:
raiz(40)

escriba el numero: 3
La raiz del número 3 es 1.7320508075688772

3. Cree una función que determine si un número es múltiplo de 3.

In [ ]:
def multiplo3(x):
  if x%3==0:
    print('Su número es multiplo de 3')
  else: 
    print('Su número no es multiplo de 3, intente con otro')

In [ ]:
multiplo3(9)

Cree un diccionario con las siguientes llaves: países, idiomas, capitales y continentes. Para cada llave incluir cinco valores en una lista. Utilice un bucle anidado para imprimir cada uno de los elementos contenidos en las listas.

In [ ]:
dic = {'llaves':'valores'}
dic['países'] = ['Col','Per','Ecu','Ven','Arg']
dic['idiomas'] = [1,2,3,4,5]
dic['capitales'] = ['Bog','Paz','Qui','Car','BA']
dic['continentes'] = [1,2,3,4,5]

In [ ]:
for key, value in dic.items():
    print(key, value)

llaves valores
países ['Col', 'Per', 'Ecu', 'Ven', 'Arg']
idiomas [1, 2, 3, 4, 5]
capitales ['Bog', 'Paz', 'Qui', 'Car', 'BA']
continentes [1, 2, 3, 4, 5]

Cree una lista utilizando la función range que vaya desde el 0 hasta el 5. Utilice un bucle para imprimir los elementos. Use un bucle para imprimir todos los elementos elevados al cuadrado. Use un bucle para imprimir todos los elementos elevados al cubo.

In [ ]:
lista2 = list(range(0,6))
for valor in lista2:
  print(valor)
print('Valores al cubo')  
for valor in lista2:
  print(valor**3)

0
1
2
3
4
5
Valores al cubo
0
1
8
27
64
125