<a href="https://colab.research.google.com/github/Tatianacp1/Machine_Learning1/blob/main/Proyecto_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTEGRANTES**:    
- **Tatiana Chavez Perez**
- **Carlos Gonzalez Sarmiento**
- **Harold Rojas Camacho**


Construya un objeto en python que permita llevar a cabo un ACP. El objeto debe entregar la proyecci√≥n de los datos sobre todos los componentes principales en un dataframe y la matriz de inercia vista en clase.

In [229]:
import numpy as np
import pandas as pd
import openpyxl as open

In [239]:
class PCA:

  def __init__(self,X,scal=True):
    self.X=X
    self.scal=scal
    self.vec=None
  
  def inercia(self):
    if self.scal==True:
      df2_scal = np.zeros(X.shape)
      for i in range(df2_scal.shape[1]):
        df2_scal[:,i] = (X.iloc[:,i]-X.iloc[:,i].mean())/X.iloc[:,i].std()
      self.X=df2_scal
    else:
      self.X=self.X

    S = self.X.T.dot(self.X)/self.X.shape[0]
    eigvals, self.vec = np.linalg.eig(S)
    varianza_explicada = {pos:i/sum(eigvals) for pos, i in enumerate(eigvals)}
    inercia = pd.DataFrame({'eigvals':eigvals,
                       'inercia_acum':np.cumsum(eigvals),
                       'v_expl':varianza_explicada.values(),
                       'v_expl_acum':np.cumsum([i for i in varianza_explicada.values()])})
    return(inercia.T)

  
  def proyeccion(self):
    Names = ['0']*X.shape[1]
    for i in range(1,X.shape[1] + 1):
      Names[i-1] = 'ACP' + str(i)
    proyeccion= self.X.dot(self.vec[:,:self.X.shape[1]])
    proyeccion= pd.DataFrame(proyeccion, columns = Names)

    return(proyeccion)

Ejemplo PCA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [240]:
df = pd.read_excel('/content/drive/MyDrive/Competitividad.xlsx')
df.head()

  Dpto  Global    FE     I    CH    CT   GFP     SC    RB   Mod
0  Ama    24.2  20.1  28.8  26.0  31.5  37.2  100.0  31.1  24.8
1  Ant    79.0  74.8  98.1  81.7  57.5  98.3   84.1  89.3  79.4
2  Ara    37.1  28.4  62.8  39.1  16.9  63.4   18.5  52.4  29.5
3  Atl    63.9  61.6  88.6  71.2  29.2  85.4   96.1  83.4  53.7
4  Bol    46.6  51.1  64.7  55.3  26.6  52.0   95.2  64.9  40.1

In [241]:
X=df[['FE','I','CH','CT','GFP']] #Variables a utilizar
X.head()

     FE     I    CH    CT   GFP
0  20.1  28.8  26.0  31.5  37.2
1  74.8  98.1  81.7  57.5  98.3
2  28.4  62.8  39.1  16.9  63.4
3  61.6  88.6  71.2  29.2  85.4
4  51.1  64.7  55.3  26.6  52.0

In [242]:
ACP2 = PCA(X)

In [243]:
ACP2.inercia()

                     0         1         2         3         4
eigvals       3.944477  0.532236  0.205814  0.040309  0.104750
inercia_acum  3.944477  4.476714  4.682528  4.722836  4.827586
v_expl        0.817070  0.110249  0.042633  0.008350  0.021698
v_expl_acum   0.817070  0.927319  0.969952  0.978302  1.000000

In [244]:
ACP2.proyeccion()

        ACP1      ACP2      ACP3      ACP4      ACP5
0  -2.608430  1.244373  0.572323 -0.221414 -0.184653
1   3.438878  0.348383  0.220862  0.174882 -0.237385
2  -1.203662 -0.535804  0.250483  0.046743 -0.371874
3   1.707393 -0.615797 -0.161117  0.395961  0.098743
4  -0.164362  0.333127 -0.507790  0.386614  0.204612
5   1.068528 -0.342434  0.593876 -0.257481  0.319405
6   1.632527 -0.197799 -0.202738 -0.204813 -0.351679
7  -1.117536 -0.262988  0.294397 -0.171347 -0.177212
8  -0.426803 -0.633122  0.662620  0.532728  0.246065
9  -0.542171 -0.255006  0.694927  0.111649 -0.201841
10 -0.847410 -0.364976 -0.339624  0.105704 -0.341608
11 -3.220362  0.821754  0.563002  0.075624 -0.018007
12 -1.369684  0.050841 -0.454213 -0.103616 -0.302170
13 -2.890426  0.640327  0.584837  0.069914  0.521368
14  0.358017 -0.985289  0.627587 -0.049331 -0.007081
15 -2.427865  0.587402 -0.819968  0.099800 -0.409405
16 -1.189099  0.601279 -0.551993 -0.089975  0.199894
17  0.089075 -0.364623 -0.455407  0.144631  0.133440
18 -0.633448 -0.348890  0.306220 -0.099663 -0.063908
19  0.365708 -0.628950  0.042428 -0.058282  0.017172
20 -2.799034  0.752322 -0.330192 -0.068909  0.313688
21  1.262800 -1.010353  0.048615 -0.420282  0.016323
22  1.973268 -0.654413 -0.068402 -0.140200  0.139198
23 -0.013432  0.196140 -0.596950 -0.221532  0.989715
24  2.252138  0.174721 -0.129929 -0.041136  0.175594
25 -1.016970 -0.169863 -0.521867 -0.047578 -0.687662
26  0.416353 -0.788957 -0.152877 -0.014800 -0.001214
27  2.267373 -0.043019 -0.525811  0.073730  0.199475
28  5.638637  2.451613  0.356701 -0.007621 -0.218994

Para comprobar el procedimiento paso a paso:

In [245]:
df2_scal = np.zeros(df2.shape)
for i in range(df2_scal.shape[1]):
  df2_scal[:,i] = (df2.iloc[:,i]-df2.iloc[:,i].mean())/df2.iloc[:,i].std()

In [246]:
S = df2_scal.T.dot(df2_scal)/df2_scal.shape[0]
S

array([[0.96551724, 0.7906326 , 0.89248636, 0.8232314 , 0.72292224],
       [0.7906326 , 0.96551724, 0.84569046, 0.55113437, 0.78129955],
       [0.89248636, 0.84569046, 0.96551724, 0.68505129, 0.78145432],
       [0.8232314 , 0.55113437, 0.68505129, 0.96551724, 0.5354563 ],
       [0.72292224, 0.78129955, 0.78145432, 0.5354563 , 0.96551724]])

In [248]:
eigvals, eigvecs = np.linalg.eig(S)

In [249]:
varianza_explicada = {pos:i/sum(eigvals) for pos, i in enumerate(eigvals)}
varianza_explicada

{0: 0.8170703217353382,
 1: 0.11024896995361155,
 2: 0.042632848271429095,
 3: 0.008349694651680357,
 4: 0.02169816538794075}

In [250]:
inercia = pd.DataFrame({'eigvals':eigvals,
                       'inercia_acum':np.cumsum(eigvals),
                       'v_expl':varianza_explicada.values(),
                       'v_expl_acum':np.cumsum([i for i in varianza_explicada.values()])})

In [251]:
inercia.T

                     0         1         2         3         4
eigvals       3.944477  0.532236  0.205814  0.040309  0.104750
inercia_acum  3.944477  4.476714  4.682528  4.722836  4.827586
v_expl        0.817070  0.110249  0.042633  0.008350  0.021698
v_expl_acum   0.817070  0.927319  0.969952  0.978302  1.000000

In [252]:
proyec = df2_scal.dot(eigvecs)

In [253]:
Names = ['0']*eigvecs.shape[1]
for j in range(1,eigvecs.shape[1] + 1):
  Names[j-1] = 'PCA' + str(j)
proyec = pd.DataFrame(proyec, columns=Names)
proyec

        PCA1      PCA2      PCA3      PCA4      PCA5
0  -2.608430  1.244373  0.572323 -0.221414 -0.184653
1   3.438878  0.348383  0.220862  0.174882 -0.237385
2  -1.203662 -0.535804  0.250483  0.046743 -0.371874
3   1.707393 -0.615797 -0.161117  0.395961  0.098743
4  -0.164362  0.333127 -0.507790  0.386614  0.204612
5   1.068528 -0.342434  0.593876 -0.257481  0.319405
6   1.632527 -0.197799 -0.202738 -0.204813 -0.351679
7  -1.117536 -0.262988  0.294397 -0.171347 -0.177212
8  -0.426803 -0.633122  0.662620  0.532728  0.246065
9  -0.542171 -0.255006  0.694927  0.111649 -0.201841
10 -0.847410 -0.364976 -0.339624  0.105704 -0.341608
11 -3.220362  0.821754  0.563002  0.075624 -0.018007
12 -1.369684  0.050841 -0.454213 -0.103616 -0.302170
13 -2.890426  0.640327  0.584837  0.069914  0.521368
14  0.358017 -0.985289  0.627587 -0.049331 -0.007081
15 -2.427865  0.587402 -0.819968  0.099800 -0.409405
16 -1.189099  0.601279 -0.551993 -0.089975  0.199894
17  0.089075 -0.364623 -0.455407  0.144631  0.133440
18 -0.633448 -0.348890  0.306220 -0.099663 -0.063908
19  0.365708 -0.628950  0.042428 -0.058282  0.017172
20 -2.799034  0.752322 -0.330192 -0.068909  0.313688
21  1.262800 -1.010353  0.048615 -0.420282  0.016323
22  1.973268 -0.654413 -0.068402 -0.140200  0.139198
23 -0.013432  0.196140 -0.596950 -0.221532  0.989715
24  2.252138  0.174721 -0.129929 -0.041136  0.175594
25 -1.016970 -0.169863 -0.521867 -0.047578 -0.687662
26  0.416353 -0.788957 -0.152877 -0.014800 -0.001214
27  2.267373 -0.043019 -0.525811  0.073730  0.199475
28  5.638637  2.451613  0.356701 -0.007621 -0.218994